{{#section 'scripts'}}


{{/section}}
<h2>DIRECTORS</h2>
<div >
      {{#each directors}}
      {{#with this.dataValues}}
        <h5>
          <a href="/directors/{{id}}">{{firstName}} {{lastName}}</a>
        </h5>
        
        <div>
           Movies:  
           <ul>
        {{#each Movies}}
          {{#with this.dataValues}}
             <li>
               <a href="/movies?id={{id}}"> {{title}} </a>
           
             </li>
          {{/with}}
        
        {{/each}}
           </ul>
        </div>
        
        <div>
           Episodes: 
            <ul>
        {{#each Episodes}}
          {{#with this.dataValues}}
              <li>
                {{title}} 
              </li>
          {{/with}}
        {{/each}}
            </ul>
        </div>

      {{/with}}
      {{/each}}
</div>
